body{background-color: #e4e4e4FA;
    color: #191975;
    font-family: Arial, Verdana, sans-serif;}

h1{color: #e4e4FA;
    background-color: #191975;
    font-family: Georgia, "Times New Roman", serif;
    height: 90px;
    padding-left: 35px;
    padding-top: 45px;}

h2{position: relative;
    text-align: center;
    color: #191970;
    background-color: #aeaed5;
    font-family: Georgia, "Times New Roman", serif;
    border-bottom:  3px dotted #191975;}

p.texto{position: relative;
    left: 52px;}

hr{border-top: solid 1px  #aeaed5;}

p.rodape{color: rgb(99, 99, 117);}
